
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>

<div class="container">
  <h3>{{hero.name}} details:</h3>
  
  <div class="col-md-1">
    <label>id:</label>
    <p>{{hero.id}}</p>
  </div>

  <div class="col-md-1">
    <label>name:</label>
    <input [(ngModel)]="hero.name" placeholder="name">
  </div>
</div>

<div class="container">
  <h2>constant heroes</h2>
  <span *ngIf="selectedHero" class="btn-lg btn-warning"  (click)="resetHero();">{{selectedHero.bio}}</span>
  <span *ngIf="!selectedHero" class="btn-lg btn-warning">select hero!</span>
  <ul class="heroes">
    <li
      *ngFor="let h of heroes"
      (click)="onSelect(h)"
      [class.selected]="h===selectedHero"
    >
      <span class="badge">{{h.id | number : '2.0'}}.</span>
      {{h.name}}
    </li>
  </ul>
</div>

